.mui-bar-nav~.mui-content {
    padding-top: 68px;
}
.mui-bar {
	padding-top: 1em;
	height: 4em;
	font-weight: bolder;
	background-color: #E18E4C;
	font-family: "黑体";
}

.mui-title {
	color: #fff;
}

.mui-pull-left {
	color: #fff;
}

.alert {
	width: 100%;
	text-align: center;
	height: 4em;
	padding: 1em;
}

.infor {
	font-weight: bold;
}

.mgr {
	font-size: .8em;
	margin-left: 2em;
}

.binded p,
.binded span {
	color: #E18E4C;
}

#device-name {
	margin-bottom: 3px;
}

#device-name {
	width: 75%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#alert {
	display: none;
}

#begainSearch {
	/*display: none;*/
}

#stopSearch {
	display: none;
}

.btn-block {
	width: 100%;
	text-align: center;
	height: 3em;
	padding-top: .4em;
	background: #fff;
	border-bottom:solid 1px #ddd;
}

.btn-search {
	float: right;
	width: 35%;
	margin: 3px auto;
}

.btn-search-text{
	font-size: 1.2em;
	color: #7d7d7d;
}
.confirm{
	width: 65%;
	margin-top: 3px;
	float: left;
	text-align: center;
	color: #aaa;
}
.mui-pull-right{
	display: none;
	line-height: 2em;
	font-size: .8em !important;
}
.mui-icon-closeempty{
	background-color: #797979;
	float: none;
	line-height: 1.7em;
	font-size: 1.3em;
}
.mui-icon-search {
	border: 0;
	float: none;
	line-height: 1.7em;
	color: #fff;
}
.none{
	display: none;
}
.block{
	display: block;
}
