.mui-bar {
	padding-top: 1em;
	height: 3.5em;
	font-weight: bolder;
	background-color: #E18E4C;
	font-family: "黑体";
}

.mui-title {
	color: #fff;
}

.mui-pull-left {
	color: #fff;
}

.mui-content {
	position: relative;
}

#no_device_bac {
	width: 100%;
}

.midcol {
	width: 100%;
	position: absolute;
	top: 210px;
	text-align: center;
	color: #fff;
}

.innerbox {
	width: 200px;
	height: 120px;
	margin: 0 auto;
	padding: 22px;
	background: rgba(212, 212, 212, .7);
}

.innerbox p {
	margin-top: 15px;
	color: #fff;
	font-weight: bold;
}